*{
    margin : 0;
    padding: 0;
}
.container{
    background-color: aqua;
    height: 100vh;
    display: grid;
    grid-template-columns:repeat(1fr 1fr 1fr 1fr) ;
    grid-template-rows:repeat( 6,1fr);
    gap: 10px;
    /* grid-template-columns: repeat(3,1fr); */
    /* grid-template-rows: repeat(3, 400px); */
    /* grid-auto-rows: minmax(150px, auto);     */
    /* grid-template-rows: 400px 300px  ; */
   

   /*  grid-template-areas: 
    "header header header header"
    "sidebar main main sidebar2"
    "sidebar main main sidebar2"
    " footer footer footer footer"
    ;
    */
    font-size: 40px; 
    text-align: center;

    grid-template-areas: 
    "header header header header"
    "nevigation nevigation nevigation nevigation"
    "content1 main main content2"
    "content1 main main content2 "
    "content1 main main content2 "
    "footer footer footer footer"
    
    ;


}

.item{
    background-color: green;
    /* height: 300px; */
    /* width: 300px; */
}
.item1{
    grid-area: header;
/* grid-column-start: 1; */
/* grid-column-end: 5; */

}
.item2{
    /* grid-area: sidebar; */
    /* grid-column-start: 1;
    grid-column-end: 5; */
    grid-area: nevigation;
}
.item3{
    grid-area: content1;
}
.item4{
    grid-area: main;
}
.item5{
    grid-area: content2;
}
.item6{
    grid-area: footer;
}